# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
.vscode/c_cpp_properties.json
lista_01/ex01/ex01.cpp
*.log
*.ilk
*.idb
*.pdb
*.tlog
*.user
*.filters
*.vcxproj
*.sln
*.ipch
*.recipe
*.db
*.vsidx
*.json
ContaBancariaAula1/.vs/ContaBancariaAula1/v17/.suo
*.opendb
*.db-wal
*.db-shm
lista_01/Ex002_pessoa/.vs/Ex002_pessoa/v17/.suo
lista_01/Ex002_pessoa/.vs/Ex002_pessoa/copilot-chat/eeb10afb/sessions/f2f350c6-c47d-4cec-9a78-ccfcea412cf4
lista_01/Ex004_calculadora/.vs/Ex004_calculadora/v17/.suo
